<p>
    <mat-toolbar color="primary">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button *ngIf="loginService.isUserLoggedIn()" mat-menu-item>
                <a routerLink="/home/fazal" class="nav-link"><span>Home</span></a>
            </button>
            <button *ngIf="loginService.isUserLoggedIn()" mat-menu-item>
                <a routerLink="/todos" class="nav-link"><span>Todos</span></a>
            </button>
        </mat-menu>
        <span>BlueIris</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
        <button mat-raised-button *ngIf="loginService.isUserLoggedIn()" (click)="logoutUser()">
            Logout
        </button>
    </mat-toolbar>
</p>

